<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<settings>
  <patcher_version>1.2</patcher_version>
  <client_hash>0d5ae719d9c263ff078793a4f0bf25fd</client_hash>
  
  <read_more>http://scorpia.org/forums/index.php?s=b80492a6a84acd499fd60d5267e32e73&amp;showforum=3</read_more>
  
  <update>
    <header>Costum Private and Clan Chat colors</header>
    <text>We have added the option to let you choose your own colors for the Private and Clan Chat.</text>
    <href>http://scorpia.org/forums/index.php?s=b80492a6a84acd499fd60d5267e32e73&amp;showforum=3</href>
  </update>
  
  <update>
    <header>Fixed Chinese Gold Farmer Bug</header>
    <text>Lorem ipsum dolor sit amet.</text>
    <href>http://scorpia.org/forums/index.php?s=b80492a6a84acd499fd60d5267e32e73&amp;showforum=3</href>
  </update>
  
  <update>
    <header>Added more Chinese Gold Farmers</header>
    <text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</text>
    <href>http://scorpia.org/forums/index.php?s=b80492a6a84acd499fd60d5267e32e73&amp;showforum=3</href>
  </update>
</settings>
